.git
cron-ticker/bun.lockb
cron-ticker/node_modules/
cron-ticker/package-lock.json
nestgraphqlapp-221207-123302/__MACOSX/
nestgraphqlapp-221207-123302/nest-graphql/node_modules/
nestgraphqlapp-221207-123302/nest-graphql/dist/
nestgraphqlapp-221207-123302/nest-graphql/yarn.lock
nestgraphqlapp-221207-123302/nest-graphql/.git
postgres-pgAdmin/data-vol/
teslo-shop/node_modules
teslo-shop/dist
teslo-shop/static/products
teslo-testing/.env
graphql-actions/package-lock.json
graphql-actions/yarn.lock
graphql-actions/node_modules/
graphql-actions/.git
graphql-actions/.github
graphql-actions/dist/
react-heroes/node_modules/
react-heroes/dist
react-heroes/yarn.lock